@import url(http://fonts.googleapis.com/css?family=Roboto);

/* ====================
 *       DEFAULTS
 * ==================== */
* { box-sizing: border-box; }
body, #body {
	margin: 0;
	padding: 0;

	text-align: center;

	background: #eaeaea;
	font-family: 'Roboto', sans-serif;
  	font-size: 16px;
}
#body > * { text-align: left; }

p { margin: 0; }
p + p { margin-top: 1em; }
h1,h2,h3,h4 {
	margin: 0;
	font-weight: 400;
}
h4 { display: inline-block; }

a {
  text-decoration: none;
  color: #02a4d9;
}
a:visited, a:active, a:hover { color: #0088aa; }
a:hover { text-decoration: underline; }
a.noblue {
	color: inherit;
	text-decoration: none;
}

em {
	font-style: normal;
	color: #02a4d9;
}
ul { margin: .5em 0 0; }
.text-content li { margin-bottom: .5em; }

/* =====
 * inputs
 * ===== */
label {
	display: block;
	margin-top: .5em;
	font-size: 10pt;
}
label:first-of-type { margin-top: 0; }
input, textarea {
	width: 100%;
	padding: .5em;

	border-radius: 3px;
	border: 1px solid #bbb;
	outline: none;
	color: #666;
	font-size: 12pt;

	box-shadow: none;

	transition: border-color .3s ease, box-shadow .2s ease;
}
input:focus, textarea:focus {
	color: #000;
	border-color: #02a4d9;
	box-shadow: 0 1px #02a4d9;
}
textarea {
	resize: vertical;
	font-size: 10pt;
}

button, .btn {
	appearance: none;
	display: inline-block;
	margin-bottom: 4px;
	padding: .5em;
	cursor: pointer;

	background: none;
	color: #8b8b8b;
	border: 1px solid;
	border-radius: 3px;
	text-align: center;

	transition: all .2s ease;
}
.btn-vert { margin: 0 4px 0 0; }
button:last-child, .btn:last-child { margin: 0; }
.btn:hover { color: #02a4d9; }
.btn:focus {
	color: #fff;
	box-shadow: none;
	text-shadow: 0 0 5px #ccc;
}
.btn-wide { display: block; width: 100%; }
.btn:disabled {
	background: #ddd;
	color: #8b8b8b;
	border-color: #ccc;
	cursor: default;
}
.btn-primary, .btn-active {
	background: #02a4d9;
	color: #fff;
	font-weight: 700;
	border: none;
}
.btn-primary:disabled {
	background: #66c2e0;
	color: #fff;
	cursor: default;
}
.btn-primary:hover {
	color: #fff;
	text-deocration: underline;
}

/* =====
 * HEADER
 * ===== */
#body .header {
	width: 100%;
	z-index: 99;

	overflow: visible;

	text-align: center;
	background-color: #02a4d9;
	color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.header.fixed {
	padding-bottom: 2em;
}
.header .logo {
	display: inline-block;
	margin: 18px 0 0;
	text-align: center;
}
.header .logo img {
	max-width: 100%;
	padding: 0 10px;
}
.header .nav {
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;

	flex-direction: row;
	justify-content: center;

	list-style: none;
}
.header.fixed .nav, .header.fixed .mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	background-color: #02a4d9;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.header .nav .item {
	display: inline;

	font-size: 13pt;
	transition: border-color .1s ease;
}
.header .nav .item a, .header .nav .item > span {
	display: inline-block;
	color: white;
	padding: 0 20px;
	height: 2em;
	line-height: 2em;
}
.nav .dropdown { position: relative; }
.nav .dropdown::after {
	content: "";
	position: absolute;
	right: 4px;
	top: 0.9em;

	border: .3em solid transparent;
	border-bottom: none;
	border-top-color: #fff;
}
.nav .dropdown .content {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 100%;
	width: 200px;
	max-height: 0;

	background: #02a4d9;
	overflow: hidden;

	transition: max-height .2s ease;
}
.dropdown .content .item a { width: 100%; background: #02a4d9; }
.dropdown .content .item:hover a { background: #0c9ac8; }
.nav .dropdown:hover .content {
	max-height: 4em;
}

#nav-indicator {
	position: absolute;
	bottom: 0;
	margin: 0;
	height: 3px;

	pointer-events: none;
	transition: all .2s ease-out;
}

.mobile-nav {
	position: relative;
	top: 12px;
	left: 0;
	list-style: none;
	width: 100%;
	max-height: 1.5em;
	margin: 0;
	padding-left: 2em;
	font-size: 14pt;

	overflow: hidden;
	background: #02a4d9;

	transition: max-height .2s ease;
	transition-delay: .2s;
}
.header.fixed .mobile-nav { position: fixed; }
.mobile-nav:hover, .mobile-nav.show { max-height: 12em; }
.mobile-nav .item a, .mobile-nav .item span {
	display: block;
	height: 1.5em;
	padding: .25em 0;

	transition: background .2s ease;
}
.mobile-nav .item a:hover {
	background: #0c9ac8;
}
.mobile-nav::before { /* hamburger icon */
	content:"";
	position: absolute;
	left: .5em;
	top: .25em;
	height: 3px;
	width: 1em;

	border-top: 3px solid #fff;
	border-bottom: 9px double #fff;
}

/* =====
 * grid
 * ===== */
.page {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	padding: 1em;
}
.column {
	display: flex;
	flex-direction: column;

	max-width: 100%;
	margin-right: 1em;
}
.column:last-child { margin-right: 0; }
.row {
	display: flex;
}
.sub-column {
	padding: 15px;
}
.section { margin: 1em 0; }
.section:first-child { margin-top: 0; }
.section:last-child { margin-bottom: 0; }
.section+.section {
	padding-top: 1em;
	border-top: 1px solid #dcdcdc;
}

[class*="column"].small {
	width: 200px;
}
[class*="column"].small-medium {
	width: 415px;
}
[class*="column"].medium {
	width: 530px;
}

/* =====
 * utils
 * ===== */
.no-anim { transition: none !important; }
.no-padding { padding: 0; }
.no-margin { margin: 0; }
.padded { padding: 0 1em; }
.text-center { text-align: center; }
.clear-children::after {
  content: "";
  display: table;
  clear: both;
}
a.no-style {
	text-decoration: none;
	outline: none;
	color: initial;
}
[class*="flex-"] { display: flex; }
.flex-column { flex-direction: column; }
.flex-fill > * { flex-grow: 1; flex-basis: 0; }
[class*="fill-text"] > * { text-align: center; }
[class*="fill-text"] > :first-child { text-align: left; }
[class*="fill-text"] > :last-child { text-align: right; }
.flex-start { align-items: flex-start; }
.flex-center { align-items: center; }
.flex-between { justify-content: space-between; }
.flex-around { justify-content: space-around; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.faint { color: #777 ; }
.hidden, .visible-xs, .visible-sm { display: none; }

/* ====================
 *        THEME
 * ==================== */
#progress-bar {
	position: fixed;
	left: 0;
	top: 0;
	height: 4px;
	width: 0;

	background: #fff;
	box-shadow: 0 1px 8px rgba(0,0,0,.2);
	transition: width .1s ease-in;
}
.message-container {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.message {
	padding: .5em;

	border-bottom: 1px solid #dcdcdc;
	text-align: center;
	font-weight: 700;
}
.message[class*="message-"] { color: #fff; }
.message-error { background: #eb4b4b; }
.message-warning { background: #e4ae39; }
.message-success { background: #3EC235; }

#queue {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: .5em;

	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}


.module {
	margin-bottom: 1em;
	padding: 10px;

	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border-radius: 2px;
}
.module > h2:first-child {
	margin-bottom: .5em;
	padding-left: 5px;
}
.module > h2:only-child {
	margin: .5em 0;
	padding: 0;
}

.sub-column { border-right: 1px solid #eee; }
.sub-column:last-child { border-right: none; }
.row { border-bottom: 1px solid #eee; }
.row:first-child { border-bottom: none; }
.row:last-child { border-bottom: none; }

.text-content { line-height: 1.4em; }

.match-column { padding: 0; }
.matchbox { padding: 15px; }
.organization { padding: 0 15px; }
.team-1 { text-align: right; }
.team-2 { text-align: left; }
.team-name {
	color: #02a4d9;
	font-weight: 700;
	font-size: 14pt;
}
.organization { opacity: .4; }
[class*="team-"].loser { opacity: .6; }
[class*="team-"] .team-status { color: #02a4d9; }

.user-module, .news-module { min-width: 160px; }
.user-avatar { margin-bottom: .5em; }

.item-holder {
	display: flex;
	justify-content: flex-start;
}

form h3 { margin-bottom: .5em; }
.input-container { margin-bottom: .5em; }

table { width: 100%; }
td { padding: 0; }
td a {
	display: block;
	padding: 2px;
}

/* =====
 * homepage
 * ===== */
.match-data { margin-top: 1em; }
.match-note { margin-top: 1em; }
.placed-items > * { margin-bottom: .5em; }
.placed-items > *:last-child { margin-bottom: 0; }
.header-column { padding: 5px 15px 10px; }
.header-column:first-child { padding-left: 10px; }

/* =====
 * items
 * ===== */
.itembox {
	position: relative;
	width: 18%;
	margin: 4px 1% 6px;
	padding: 1em 0 .5em;

	border-radius: 3px;

	background: #fff;
	color: #b0c3d9;
	font-size: 10pt;
	text-align: center;

	box-shadow: 0 2px, 0 0 0 1px #dcdcdc;
}
.itembox.small {
	min-width: 70px;
	max-width: 92px;
	min-height: 65px;
}
.itembox > * { color: #000; }
.itembox-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
}
.itembox-header * { display: inline-block; }
.itembox img { width: 100%; }
.matchbox-link:last-child, .placed-items:last-child { border-bottom: none; }
.itembox-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1em;

	overflow: hidden;
}
.itembox-footer > * {
	position: relative;
	top: 0;
	height: 100%;

	font-size: 8pt;
	transition: top .2s ease;
	transition-delay: .4s;
}
.itembox-footer:hover > * { top: -100%; }
.item-quality { color: #fff; }

.itembox.consumer { color: #b0c3d9 }
.itembox.mil-spec { color: #4b69ff }
.itembox.industrial { color: #5e98d9 }
.itembox.restricted { color: #8847ff }
.itembox.classified { color: #d32ce6 }
.itembox.covert { color: #eb4b4b }
.itembox.melee { color: #ef7f0d }
.itembox.contraband { color: #e4ae39 }

.itembox.consumer .item-quality { background: #b0c3d9 }
.itembox.mil-spec .item-quality { background: #4b69ff }
.itembox.industrial .item-quality { background: #5e98d9 }
.itembox.restricted .item-quality { background: #8847ff }
.itembox.classified .item-quality { background: #d32ce6 }
.itembox.covert .item-quality { background: #eb4b4b }
.itembox.melee .item-quality { background: #ef7f0d }
.itembox.contraband .item-quality { background: #e4ae39 }


/* =====
 * match page
 * ===== */
.match-info { text-align: center; }
.bet-holder { padding: .5em; }
.bet-holder > div:first-child { margin-bottom: .5em; }
.bet-holder + .bet-holder { border-top: 1px solid #dcdcdc; }

/* =====
 * inventory
 * ===== */
.inventory, .module > form:not(.no-style) {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding: 8px;
	margin: 8px 0;

	background: #f8f8f8;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	box-shadow: inset 0 0 4px rgba(0,0,0,.2);
}
.inventory .itembox { cursor: pointer; }
.inventory-selection {
	display: flex;
	align-items: stretch;
	padding-bottom: 8px;
	margin-bottom: 8px;

	border-bottom: 1px solid #dcdcdc;
}
.inventory-selection .item-holder {
	display: inline-flex;
	width: 80%;
	padding-right: 8px;
}
.inventory-selection .item-holder:empty::before {
	content: attr(data-if-empty);
	display: block;
	align-self: center;
	width: 100%;

	color: #666;
	text-align: center;
}
.inventory-selection .btn-holder {
	display: inline-block;
	align-self: flex-end;
	width: 20%;
	min-width: 80px;
}


/* ====================
 *    MEDIA QUERIES
 * ==================== */
@media (max-width: 1240px) {
	.page.wide .column.misc-column {
		width: 965px;
		flex-direction: row;
		max-width: 100%;
	}
	.column.misc-column {
		margin: 0 0 1em;
	}
	.misc-column .module {
		margin: 0 1em 1em 0;
		max-height: 400px;
	}
	.page.wide .misc-column > .module {
		flex-grow: 1;
		flex-basis: 0;
		margin-bottom: 0;
	}
	.page.wide .misc-column > .module:last-child { margin-right: 0; }
	.user-navigation { width: 100%; }
	.page.wide .user-navigation .btn-wide {
		width: 50%;
		margin: 0;
	}
}
@media (max-width: 1015px) {
	.page > .column.misc-column.small {
		flex-direction: row;
		max-width: 100%;
		max-height: 400px;
		width: 550px;
	}
	.misc-column .module { flex-grow: 1; margin: 0 1em 0 0; }
	.page .misc-column.small > .module:last-child { margin-right: 0; }
	.news-module ul { padding-left: 20px; }
	.tweet-module { display: none; }

	.row:first-child .header-column:nth-child(n+2) { display: none; }
	.sub-column { border-right: none; }
	.column { margin-right: 0; }
	.page > .column { width: 550px; }

	.items-column.empty { padding: 20px; }
	.items-column.empty > * { display: none; }
	.row:last-child .items-column.empty { padding: 0; }

	.sub-column.items-column {
		align-self: stretch;
		flex-direction: column;
		width: initial;
	}
	.items-column p {
		align-self: flex-start;
		margin-bottom: .5em;
	}
	.page .user-module .user-navigation > .btn-wide { width: 100%; margin-bottom: 4px; }
	
	.sm-column { flex-direction: column; }
	.visible-sm { display: block; }
}
@media (max-width: 600px) {
	.column.misc-column { width: 510px; }
	.organization { padding: 20px; flex: 0; }
	.organization img { display: none; }

	[class*="column"].medium:not(.keep-size) { width: initial; }

	.hide-xs { display: none !important; }
	.visible-xs { display: block; }
}
@media (max-width: 465px) {
	.placed-items, .placed-items > div { max-width: 100%; }
	.placed-items { align-self: flex-start; }
	.placed-items > div {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.itembox[data-contains="empty"] { display: none; }
}
@media (max-width: 366px) {
	.page { padding: 1em 0; }
	.misc-column {
		box-shadow: 0 1px 4px rgba(0,0,0,.2);
	}
	.misc-column .module {
		display: none;
		margin: 0;
		border-radius: 0;
		box-shadow: -1px 0 #dcdcdc;
	}
	.misc-column .user-module {
		display: block;
	}

	[class*="team-"] .logo { max-width: 50px; }
}

/* ====================
 *      ANIMATIONS
 * ==================== */
.fadeout, .fadein {
	-webkit-animation-duration: .1s;
	animation-duration: .1s;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fadein {
	-webkit-animation-name: fadein;
	animation-name: fadein;
}
.fadeout {
	-webkit-animation-name: fadeout;
	animation-name: fadeout;
}


@keyframes fadeout {
	0% {
		opacity: 1;
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-10px, 0);
		transform: translate(-10px, 0);
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
		-webkit-transform: translate(10px,0);
		transform: translate(10px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@-webkit-keyframes fadeout {
	0% {
		opacity: 1;
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-10px, 0);
		transform: translate(-10px, 0);
	}
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0;
		-webkit-transform: translate(10px,0);
		transform: translate(10px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}