@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', sans-serif;
  color: #8b8b8b;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.header {
  background-color: #02a4d9;
  color: #fff;
  width: 100%;
  padding-bottom: 3px;
  box-shadow: 1px 0px 5px #000;
  z-index: 999;
}
.header .logo {
  padding: 5px 0 5px 5px;
}
.header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  display: inline;
  font-size: 16pt;
  padding: 0 15px;
}
.header .nav ul li.active {
  border-bottom: 3px solid orangered;
}
.container {
  padding: 10px;
  width: 100%;
}
.container .left-side {
  width: 300px;
  float: left;
}
.container .left-side .user-left,
.container .left-side .news-left {
  padding: 5px;
  box-shadow: 0 0 15px #888888;
  background-color: #fff;
}
.container .left-side .user-left:not(:first-child),
.container .left-side .news-left:not(:first-child) {
  margin-top: 15px;
}
.container .left-side .user-left:not(:last-child),
.container .left-side .news-left:not(:last-child) {
  margin-bottom: 15px;
}
.container .left-side .user-left .steam-button {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.container .left-side .user-left .username-container {
  height: 80px;
}
.container .left-side .user-left .username-container h2 {
  padding-left: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.container .left-side .user-left .username-container .avatar {
  float: left;
  border-radius: 50%;
  overflow: hidden;
  width: 75px;
  height: 75px;
}
.container .left-side .user-left .username-container .avatar img {
  display: block;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.container .left-side .user-left ul {
  list-style-type: none;
  font-size: 16pt;
}
.container .left-side .user-left ul li {
  padding: 3px 0;
}
.content {
  margin-left: 330px;
}
.content .matchbox {
  box-shadow: 0 0 15px #888888;
  background-color: #fff;
  width: 500px;
  height: 120px;
}
.content .matchbox .team1 {
  padding: 10px;
  float: left;
  height: 85px;
}
.content .matchbox .team1 .team-name {
  margin-left: 90px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.content .matchbox .team1 img {
  float: left;
}
.content .matchbox .team2 {
  padding: 10px;
  text-align: right;
  height: 85px;
}
.content .matchbox .team2 .team-name {
  margin-right: 90px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.content .matchbox .team2 img {
  margin-top: -20px;
  /* todo: figure out why this is necessary */
}
