@import url(http://fonts.googleapis.com/css?family=Roboto);

/* ====================
 *       DEFAULTS
 * ==================== */
* { box-sizing: border-box; }
body {
	margin: 0;
	padding: 0;

	background: #eaeaea;
	font-family: 'Roboto', sans-serif;
  	font-size: 16px;
}
#body { text-align: center; }
#body > * { text-align: left; }

table { width: 100%; }
td {
	text-align: center;
	height: 2em;
}
td > a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 2em;
}

/* ====================
 *         GRID
 * ==================== */
.page {
	display: inline-block;
	max-width: 100%;
	padding: 1em;
}
.column {
	display: inline-block;
	float: left;

	max-width: 100%;
	margin-right: 1em;
}
.column:last-child { margin-right: 0; }
.sub-column {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}
[class*="column"].small { width: 200px; }
[class*="column"].small-medium { width: 415px; }
[class*="column"].medium { width: 530px; }


.sub-column { border-right: 1px solid #eee; }
.sub-column:last-child {
	border-right: none;
	box-shadow: -1px 0 #eee;
}
.row { border-bottom: 1px solid #eee; }
.row:first-child { border-bottom: none; }
.row:last-child { border-bottom: none; }
.row.padded { padding: 1em 0; }
.row.padded > * { padding: 0 .5em; }

.module {
	margin-bottom: 1em;
	padding: 10px;
}
.module > h2:first-child, .header-column { /* module title */
	padding: 5px 10px .5em;
}
.module > h2:first-child + small {
	display: block;
	padding: 0 10px 1em;
	margin-top: -1em;
}
.module > h2:only-child { /* empty module w/ message */
	margin: 0;
	padding: .5em 0;
	text-align: center;
}

/* ====================
 *        HEADER
 * ==================== */
#body .header {
	width: 100%;
	padding-top: 18px;
	z-index: 9;
	overflow: visible;

	text-align: center;
	background-color: #02a4d9;
	color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.header.fixed { padding-bottom: 2em; }
.header.fixed .nav, .header.fixed .mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	background-color: #02a4d9;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.header .logo {	display: block; }
.header .logo img {
	display: inline-block;
	max-width: 100%;
	padding: 0 10px;
}

.nav, .mobile-nav {
	display: inline-block;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;

	list-style: none;
}
.nav .item {
	display: inline-block;

	font-size: 13pt;
	transition: border-color .1s ease;
}
.nav .item a, .nav .item span, .mobile-nav .item a, .mobile-nav .item span {
	display: inline-block;
	padding: 0 20px;
	height: 2em;
	line-height: 2em;

	color: #fff;
}
.nav .dropdown { position: relative; }
.nav .dropdown::after { /* arrow */
	content: "";
	position: absolute;
	right: 4px;
	top: 0.9em;

	border: .3em solid transparent;
	border-bottom: none;
	border-top-color: #fff;
}
.nav .dropdown .content {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 100%;
	width: 200px;
	max-height: 0;

	background: #02a4d9;
	overflow: hidden;

	transition: max-height .2s ease;
}
.dropdown .item { width: 100%; }
.dropdown .item a { width: 100%; background: #02a4d9; }
.dropdown .item:hover a { background: #0c9ac8; }
.nav .dropdown:hover .content { max-height: 4em; }
#nav-indicator {
	position: absolute;
	bottom: 0;
	margin: 0;
	height: 3px;

	pointer-events: none;
	transition: all .2s ease-out;
}

.mobile-nav {
	width: 100%;
	max-height: 2em;
	margin: 0;
	padding-left: 2em;
	font-size: 14pt;

	overflow: hidden;
	background: #02a4d9;

	transition: max-height .2s ease;
}
.mobile-nav:hover, .mobile-nav.show { max-height: 12em; }
.mobile-nav .item a, .mobile-nav .item span {
	display: block;
	transition: background .2s ease;
}
.mobile-nav .item a:hover {
	background: #0c9ac8;
}
.mobile-nav::before { /* hamburger icon */
	content:"";
	position: absolute;
	left: .5em;
	top: .6em;
	height: 3px;
	width: 1em;

	border-top: 3px solid #fff;
	border-bottom: 9px double #fff;
}

/* ====================
 *        UTILS
 * ==================== */
.no-anim { transition: none !important; }
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.clear-children::after {
  content: "";
  display: table;
  clear: both;
}
html a.no-style {
	text-decoration: none !important;
	outline: none !important;
	color: inherit;
}

[class*="fill-"] > * { display: inline-block; vertical-align: middle; }
[class*="fill-2"] > * { width: 50%; }
[class*="fill-3"] > * { width: 33%; }
[class*="text-fill"] > * { text-align: center; }
[class*="text-fill"] > :first-child { text-align: left; }
[class*="text-fill"] > :last-child { text-align: right; }
.fill-3 > .btn-vert {
	margin-right: 1%;
	width: 32%;
}

.text-center { text-align: center; }

.faint { color: #777; }
.hidden, .visible-xs, .visible-sm { display: none; }

/* ====================
 *    SPECIFIC PARTS
 * ==================== */
/**
 * Profile overview
 */
.user-module ul { margin: 1em 0 0; }

/**
 * Matchbox
 */
.match-info { text-align: center; }
.matchbox {
	max-width: 600px;
	margin: 0 auto;
	padding: 15px;
}
.team > * { 
	vertical-align: middle;
	display: inline-block;
	width: 50%;
}
.team .logo { max-width: 75px; }
.team-1 .team-info { text-align: right; }
.winner .team-status { color: #3c3; }
.loser .team-status { color: #fa6262; }
.organization .logo { display: block; margin: 0 auto; }
.match-data { margin-top: 1em; }
.match-note { margin-top: 1em; }

.placed-items > * { margin-bottom: .5em; }
.placed-items > *:last-child { margin-bottom: 0; }

/**
 * Inventory
 */
.inventory {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	margin: 8px 0;
}
.inventory-selection {
	padding-bottom: 8px;
	margin-bottom: 8px;

	border-bottom: 1px solid #dcdcdc;
}
.inventory-selection .item-holder {
	display: inline-block;
	width: 80%;
	padding-right: 8px;
	vertical-align: bottom;
}
.inventory-selection .item-holder:empty {
	height: 96px;
}
.inventory-selection .item-holder:empty::before {
	content: attr(data-if-empty);
	display: block;
	width: 100%;
	line-height: 96px;

	color: #666;
	text-align: center;
}
.inventory-selection .btn-holder {
	display: inline-block;
	width: 20%;
}
.inventory-selection .btn-holder button { font-size: 11pt; }

/**
 * Itembox
 */
.itembox {
	display: inline-block;
	position: relative;
	width: 18%;
	margin: 4px 1% 6px;
	padding: 1em 0 .5em;

	font-size: 10pt;
	text-align: center;
	vertical-align: bottom;
}
.itembox.small {
	min-width: 69px;
	max-width: 92px;
	min-height: 75px;
}
.itembox > * { color: #000; }
.itembox-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
}
.itembox-header * { display: inline-block; }
.itembox-header .seperator { margin: 0 5%; }
.itembox img { width: 100%; }
.matchbox-link:last-child, .placed-items:last-child { border-bottom: none; }
.itembox-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1em;

	overflow: hidden;
}
.itembox-footer > * {
	position: relative;
	top: 0;
	height: 100%;

	font-size: 8pt;
	transition: top .2s ease;
	transition-delay: .4s;
}
.itembox-footer:hover > * { top: -100%; }
.item-quality { color: #fff; }

.itembox.consumer { color: #b0c3d9 }
.itembox.mil-spec { color: #4b69ff }
.itembox.industrial { color: #5e98d9 }
.itembox.restricted { color: #8847ff }
.itembox.classified { color: #d32ce6 }
.itembox.covert { color: #eb4b4b }
.itembox.melee { color: #ef7f0d }
.itembox.contraband { color: #e4ae39 }

.itembox.consumer .item-quality { background: #b0c3d9 }
.itembox.mil-spec .item-quality { background: #4b69ff }
.itembox.industrial .item-quality { background: #5e98d9 }
.itembox.restricted .item-quality { background: #8847ff }
.itembox.classified .item-quality { background: #d32ce6 }
.itembox.covert .item-quality { background: #eb4b4b }
.itembox.melee .item-quality { background: #ef7f0d }
.itembox.contraband .item-quality { background: #e4ae39 }

/**
 * Tooltips
 */
.tipped {
	position: relative;
	cursor: pointer;
}
.tip {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, .3em);
	z-index: 8;
	cursor: auto;

	background: #444;
	color: #fff;
	padding: .25em .5em;

	white-space: nowrap;
	text-align: center;

	transition: opacity .2s ease,
	            transform .2s ease;
	visibility: hidden;
	opacity: 0;
}
/* allows you to hover to tooltip & slightly outside */
.tip::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	padding: .5em;
	width: 100%;
	height: 100%;
	z-index: -1;
}
/* arrow */
.tip::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -.25em);

	border: .35em solid transparent;
	border-top-width: 0;
	border-bottom-color: #444;
	z-index: -1;
}
.tipped:hover .tip {
	transform: translate(-50%, .5em);
	visibility: visible;
	opacity: 1;
}

/**
 * Popup & messages
 */
.popup {
	position: fixed;
	right: 1em;
	bottom: 1em;
	max-width: 350px;
}
.message {
	padding: .5em;
	margin-top: .5em;

	background: #02a4d9;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);

	cursor: pointer;
}
.message:first-child { margin-top: 0; }

.message.error { background: #fa6262; }
.message.warning { background: #ffb300; }
.message.success { background: #2c2; }


/* ====================
 *        THEME
 * ==================== */
/**
 * HTML elements
 */
h1,h2,h3,h4 {
	margin: 0;
	font-weight: 400;
}
h4 { display: inline-block; }
p { margin: 0; }
p + p { margin-top: 1em; }
a {
  text-decoration: none;
  color: #02a4d9;
}
a:visited, a:active, a:hover { color: #0088aa; }
a:hover { text-decoration: underline; }

label {
	display: block;
	font-size: 12px;
}
input, textarea {
	appearance: none;
	border: none;
	background: none;
	outline: none;

	width: 100%;
	font-size: 12pt;
	padding: .5em;

	color: #444;

	transition: color .2s;
}
textarea {
	margin-top: .5em;
	box-shadow: inset 0 0 4px rgba(0, 165, 220, 0),
		0 0 0 1px #bbb;
	border-radius: 2px;
	transition: all .2s;
}
input:focus, textarea:focus { color: #000; }
textarea:focus {
	box-shadow: inset 0 0 4px rgba(0, 165, 220, 0.4),
		0 0 0 1px #02a4d9;
}
input::placeholder, textarea::placeholder {
	transition: color .2s;
}
input:focus::placeholder ,textarea:focus::placeholder {
	color: #8ec8e0;
}

tr:nth-child(2n) {
	background: #f0f0f0;
}

/**
 * Elements
 */
.input-group {
	display: block;
	position: relative;

	margin: .5em .5em 1.5em;
}
.focus-indicator {
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	height: 2px;

	box-shadow: inset 0 1px #bbb;
}
.focus-indicator::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;

	background: #02a4d9;
	transform: scaleX(0);
	transition: all .2s cubic-bezier(.5, 0, .01, 1);
}
input:focus ~ .focus-indicator::after {
	transform: scaleX(1);
	box-shadow: 0 1px 2px rgba(0, 165, 220, 0.4);
}

button, .btn {
	appearance: none;
	display: inline-block;
	margin-bottom: 4px;
	padding: .5em;
	cursor: pointer;

	background: none;
	color: #666;
	border: 1px solid;
	border-radius: 3px;
	text-align: center;

	transition: all .2s ease;
}
.btn-vert { margin: 0 4px 0 0; }
button:last-child, .btn:last-child { margin: 0; }
.btn:hover { color: #02a4d9; }
.btn:focus {
	color: #fff;
	box-shadow: none;
	text-shadow: 0 0 5px #ccc;
}
.btn-wide { display: block; width: 100%; }
.btn:disabled {
	background: #ddd;
	color: #8b8b8b;
	border-color: #ccc;
	cursor: default;
}
.btn-primary, .btn-active {
	background: #02a4d9;
	color: #fff;
	font-weight: 700;
	border: none;
}
.btn-primary:disabled {
	background: #66c2e0;
	color: #fff;
	cursor: default;
}
.btn-primary:hover {
	color: #fff;
	text-deocration: underline;
}

.match-history .winner { text-shadow: 0 1px 1px rgba(0,0,0,.4); }
.result {
	display: block;
	width: 4px;
}
.draw .result { background: #aaa; }
.win .result { background: #2c2; }
.loss .result { background: #fa6262; }

.text-content { line-height: 1.4em; }

/**
 * Specific parts
 */
.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 2em;
	height: 2em;

	border: 2px solid #02a4d9;
	border-radius: 50%;
	animation: 1s ease loader infinite;
	z-index: 99;
}
#progress-bar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 4px;
	z-index: 99;

	background: #fff;
	box-shadow: 0 1px 8px rgba(0,0,0,.1);
}
.module {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border-radius: 2px;
}
.itembox {
	background: #fff;

	border-radius: 3px;
	box-shadow: inset 0 0 30px -10px rgba(0,0,0,0),
	            0 2px,
	            0 0 0 1px #dcdcdc;

	transition: box-shadow .15s;
}
.itembox:not([data-contains="empty"]):hover {
	box-shadow: inset 0 0 50px -10px rgba(0,0,0,.2),
	            0 2px,
	            0 0 0 1px #bbb;
}
.itembox[data-contains="empty"] {
	box-shadow: 0 0 0 1px #dcdcdc;
}
.inventory, form:not(.no-style) {
	padding: 8px;

	background: #f8f8f8;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	box-shadow: inset 0 0 4px rgba(0,0,0,.2);
}
.inventory .itembox { cursor: pointer; }

.input-group.verifying::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 8px;
	width: 1em;
	height: 1em;
}
.input-group.verifying::after {
	border: 2px solid #02a4d9;
	border-radius: 50%;
	-webkit-animation: 1s ease loader infinite;
	animation: 1s ease loader infinite;
}
.verified input { box-shadow: 0 2px #2c2; }
.verified .focus-indicator { box-shadow: inset 0 1px #2c2; }
.verified input:focus ~ .focus-indicator::after {
	background: #2c2;
	box-shadow: 0 1px 2px rgba(30,200,30,.4);
}
.error input { box-shadow: 0 2px; color: #fa6262; }
.error .focus-indicator { box-shadow: inset 0 1px #fa6262; }
.error input:focus ~ .focus-indicator::after {
	background: #fa6262;
	box-shadow: 0 1px 2px rgba(250,100,100,.4);
}


/* ====================
 *    MEDIA QUERIES
 * ==================== */
@media (max-width: 1240px) {
	.page.wide { width: 965px; }
	.page.wide .column { width: 100%; }
	.page.wide .misc-column {
		height: 220px;
		margin: 0 0 1em;
	}
	.page.wide .misc-column .module {
		display: inline-block;
		width: 32%;
		margin: 0 2% 0 0;
		height: 100%;
		vertical-align: top;
	}
	.page.wide .misc-column .module:last-child { margin-right: 0; }
	.page.wide .user-navigation .btn-wide {
		display: inline-block;
		width: 50%;
		margin: 0;
	}
	.page.wide .user-navigation .btn-wide:only-child {
		width: 100%;
	}

	.page.wide .column .sub-column {
		width: 50%;
	}
}
@media (max-width: 990px) {
	#body .page { width: 600px; }
	.page .column { width: 100%; }
	.page .misc-column {
		height: 220px;
		margin: 0 0 1em;
	}
	#body .misc-column .module {
		display: inline-block;
		width: 49%;
		margin: 0 2% 0 0;
		height: 100%;
		vertical-align: top;
	}
	.user-navigation .btn-wide {
		display: inline-block;
		width: 50%;
		margin: 0;
	}
	.user-navigation .btn-wide:only-child {
		width: 100%;
	}
	#body .module.tweet-module { display: none; }
	#body .misc-column .module:last-child { margin-right: 0; }

	#body .column .sub-column {
		width: 100%;
	}

	.row:first-child .header-column:nth-child(n+2) { display: none; }
	.sub-column { border-right: none; }

	.items-column.empty > * { display: none; }

	.items-column p {
		margin-bottom: .5em;
	}
	
	.visible-sm { display: block !important; }
}
@media (max-width: 600px) {
	#body .page { width: 480px; }

	.team { width: 50%; }
	.team-info { padding: 0 .5em; }
	.organization { display: none; }

	.hide-xs { display: none !important; }
	.visible-xs { display: block !important; }

	.user-navigation .btn-wide {
		display: block !important;
		width: 100% !important;
	}
	.user-navigation .btn-wide:first-child:not(:last-child) {
		margin-top: -1em;
	}
}
@media (max-width: 465px) {
	.page { padding: 1em 0; }
	.page .misc-column {
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,.2);
	}
	#body .misc-column .module {
		width: 50%;
		margin: 0;

		background: transparent;
		border-radius: 0;
		box-shadow: 9px 0 0 -8px #eee;
	}
	.itembox[data-contains="empty"] { display: none; }
	[class*="team-"] .logo { max-width: 50px; }
}
@media (max-width: 366px) {
	.page { padding: 1em 0; }
	.page .misc-column {
		box-shadow: 0 1px 4px rgba(0,0,0,.2);
	}
	.misc-column .module {
		display: none;
		margin: 0;
		border-radius: 0;
		box-shadow: -1px 0 #dcdcdc;
	}
	.misc-column .user-module {
		display: block;
	}

	[class*="team-"] .logo { max-width: 50px !important; }
}


/* ====================
 *      ANIMATIONS
 * ==================== */
.fadeout, .fadein {
	-webkit-animation-duration: .1s;
	animation-duration: .1s;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fadein {
	-webkit-animation-name: fadein;
	animation-name: fadein;
}
.fadeout {
	-webkit-animation-name: fadeout;
	animation-name: fadeout;
}


@keyframes fadeout {
	0% {
		opacity: 1;
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-10px, 0);
		transform: translate(-10px, 0);
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
		-webkit-transform: translate(10px,0);
		transform: translate(10px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@-webkit-keyframes fadeout {
	0% {
		opacity: 1;
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-10px, 0);
		transform: translate(-10px, 0);
	}
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0;
		-webkit-transform: translate(10px,0);
		transform: translate(10px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes loader {
	0% {
		opacity: 1;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	80% { opacity: 1; }
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes loader {
	0% {
		opacity: 1;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	80% { opacity: 1; }
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}